.form-fieldset {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
  padding-bottom: 24px;

  @media (min-width: @tablet) {
    border-bottom: none;
  }

  @media (min-width: @desktop) {
    padding-bottom: 33px;
  }
}

.review-form__wrapper .form-fieldset:nth-child(2) {
  padding-bottom: 34px;
}

.review-form__wrapper .form-fieldset:first-child {
  padding-bottom: 39px;

  @media (min-width: @desktop) {
    padding-bottom: 48px;
  }
}
