.input-text {
  font-family: "PT Sans", "Arial", sans-serif;
  padding: 16px;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height: 26px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5;
  }

  @media (min-width: @tablet) {
    height: 58px;
  }

  &--phone {
    width: 222px;
    height: 58px;

    @media (min-width: @tablet) {
      width: 237px;
    }

    @media (min-width: @desktop) {
      width: 372px;
    }
  }

  &--email {
    width: 222px;
    height: 58px;

    @media (min-width: @tablet) {
      width: 237px;
    }

    @media (min-width: @desktop) {
      width: 372px;
    }
  }

  &--emotions {
    height: 150px;
    resize: none;

    @media (min-width: @tablet) {
      height: 160px;
    }
  }
}
