@media (min-width: @tablet) {
  .radio-list,
  .checkbox-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    padding: 0 36px;

    @media (min-width: @desktop) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 16px 50px;
      justify-content: space-between;
    }
  }

  .checkbox-list {
    padding: 0 84px;
    column-gap: 33px;
  }
}

.checkbox-list {
  @media (min-width: @desktop) {
    padding-top: 33px;
    padding-bottom: 52px;
  }
}

.radio-list .review-form__label {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

.checkbox-list .review-form__label {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

.review-form__control {
  display: flex;
}
