.site-list {
  display: flex;
  list-style: none;
  flex-direction: column;

  &--hidden {
    display: none;
  }

  @media (min-width: @tablet) {
    width: 768px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 27px 0 48px;
  }

  @media (min-width: @desktop) {
    width: 1200px;
  }
}

@media (min-width: @tablet) {
  .site-list__item {
    width: 20%;
  }

  .site-list__item:nth-child(4n+3) {
    margin-left: 20%;
  }
}

.site-list a {
  color: #000000;
  text-decoration: none;
}
