@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.page__body {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page__body {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page__body {
    width: 1200px;
  }
}
.page {
  height: 100%;
  background-color: #e7e5e5;
}
.page__wrapper {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.title--left {
  text-align: left;
}
.title--with-image {
  color: #ffffff;
}
.title--bigger {
  font-size: 21px;
}
.title--biggest {
  font-size: 18px;
}
@media (min-width: 768px) {
  .title--biggest {
    font-size: 30px;
  }
}
.title--bigger-tablet {
  font-size: 18px;
}
@media (min-width: 768px) {
  .title--bigger-tablet {
    font-size: 21px;
  }
}
.title--smaller {
  font-size: 14px;
  line-height: 21px;
}
.title--capitalize {
  text-transform: none;
}
.description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.description--left {
  text-align: left;
}
.description--right {
  text-align: right;
}
.description--with-image {
  color: #ffffff;
}
.description--nontransform {
  text-transform: none;
}
.description--smaller {
  font-size: 12px;
}
.button {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
  border: none;
  text-align: center;
  display: block;
  text-decoration: none;
}
.button--form {
  padding: 16px 16px;
}
.main-header {
  width: 100%;
  position: relative;
  background-color: #ffffff;
  z-index: 20;
}
.main-header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 185px;
  height: 96px;
  margin: 0;
  padding: 0;
}
.main-nav {
  width: 100%;
  display: flex;
  position: relative;
}
.main-nav__wrapper {
  min-height: 56px;
}
@media (max-width: 767px) {
  .main-nav--closed .site-list {
    display: none;
  }
}
@media (max-width: 767px) {
  .main-nav--opened .site-list {
    position: absolute;
  }
}
.main-nav__toggle {
  position: absolute;
  right: 20px;
  top: 17px;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
@media (max-width: 767px) {
  .main-nav--nojs .main-nav__list {
    display: flex;
    position: static;
  }
}
.site-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100%;
}
@media (min-width: 768px) {
  .site-list {
    width: 768px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 27px 0 48px;
    margin: 20px 0;
  }
}
@media (min-width: 1200px) {
  .site-list {
    width: 1200px;
  }
}
.site-list a {
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .site-list a {
    color: #000000;
  }
}
.site-list__item {
  background-color: #81b3d2;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width: 768px) {
  .site-list__item {
    box-shadow: none;
    background-color: transparent;
    width: 20%;
    min-height: 22px;
  }
  .site-list__item:nth-child(4n+3) {
    margin-left: 20%;
  }
}
.site-list__item:last-child {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.site-list__item:last-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 7px;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
@media (min-width: 768px) {
  .site-list__item:last-child::after {
    display: none;
  }
}
.toggle-button {
  width: 23px;
  height: 22px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
.toggle-button:hover {
  opacity: 0.6;
}
.toggle-button:active {
  opacity: 0.3;
}
.toggle-button--burger {
  background-image: url("../img/icons/icon-menu.svg");
  background-color: transparent;
}
.toggle-button--cross {
  background-image: url("../img/icons/icon-cross.svg");
  fill: #ffffff;
  background-color: transparent;
  z-index: 1000;
}
.intro-banner {
  background-image: url("../img/intro-back-mobile.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #5ea18b;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 90px;
  padding-bottom: 60px;
  position: relative;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .intro-banner {
    background-image: url("../img/into-back-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .intro-banner {
    background-image: url("../img/intro-back-tablet.jpg");
    background-size: cover;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .intro-banner {
    background-image: url("../img/intro-back-tablet@2x.jpg");
  }
}
.intro-banner::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 57px;
  right: 50%;
  bottom: 0;
  transform: translate(50%, 0%);
  background-image: url("../img/intro-triangle.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    width: 1200px;
  }
}
.advantages__title {
  margin: 0;
  margin-bottom: 35px;
}
.advantages__description {
  margin: 0;
}
.advantages__text-wrapper {
  padding: 30px 0;
  max-width: 284px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .advantages__text-wrapper {
    max-width: 520px;
    margin: 0 auto;
    padding: 50px 0;
  }
}
.advantages-card__facilities {
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
}
.advantages-card__title {
  margin: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .advantages-card__title {
    max-width: 180px;
    text-align: center;
  }
}
.advantages-card__description {
  margin: 0;
}
@media (min-width: 768px) {
  .advantages-card__description {
    max-width: 180px;
    text-align: center;
  }
}
.advantages-card__number {
  margin: 0;
  padding: 15px 0;
}
@media (min-width: 768px) {
  .advantages-card__number {
    max-width: 180px;
    text-align: center;
  }
}
.advantages-card__wrapper {
  padding: 37px 0;
}
.advantages-card__wrapper--with-image {
  background-color: #81b3d2;
}
.advantages-card__wrapper--gray {
  background-color: #eeeeee;
}
.advantages-card__wrapper--triangle {
  position: relative;
  padding-top: 60px;
}
.advantages-card__wrapper--triangle::before {
  position: absolute;
  display: block;
  height: 37px;
  width: 100%;
  top: -10px;
  content: "";
  background-image: url("../img/triangle.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-color: transparent;
  z-index: 10;
}
@media (min-width: 768px) {
  .advantages-card__wrapper--triangle::before {
    display: none;
  }
}
@media (min-width: 768px) {
  .advantages-card__wrapper {
    width: 256px;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .advantages-card__wrapper {
    width: 400px;
  }
}
.advantages-card__image {
  display: block;
}
@media (min-width: 768px) {
  .advantages-card__image {
    width: 512px;
    height: 256px;
  }
}
@media (min-width: 1200px) {
  .advantages-card__image {
    width: 800px;
  }
}
@media (min-width: 768px) {
  .advantages-card {
    display: flex;
    flex-wrap: wrap;
  }
}
.facilities-list {
  list-style: none;
  padding-top: 30px;
}
.facilities-list__item {
  padding: 0 18px 0 65px;
}
.facilities-list__item:not(:last-child) {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .facilities-list {
    display: flex;
    padding: 0;
    margin: 0;
  }
  .facilities-list__item {
    padding: 0;
    margin: 0;
  }
  .facilities-list__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.facilities-card {
  background-color: #ffffff;
  position: relative;
}
.facilities-card--home .title::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 37px;
  left: 5%;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .facilities-card--home .title::before {
    width: 77px;
    height: 72px;
    left: 50%;
    margin-left: -20px;
    top: 70px;
  }
}
.facilities-card--food .title::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 37px;
  left: 5%;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .facilities-card--food .title::before {
    width: 77px;
    height: 72px;
    left: 50%;
    margin-left: -20px;
    top: 70px;
  }
}
.facilities-card--present .title::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 38px;
  left: 5%;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .facilities-card--present .title::before {
    width: 77px;
    height: 72px;
    left: 50%;
    margin-left: -20px;
    top: 70px;
  }
}
@media (min-width: 768px) {
  .facilities-card {
    width: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 158px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .facilities-card {
    width: 400px;
  }
}
.facilities-card__title {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .facilities-card__title {
    max-width: 190px;
    text-align: center;
    padding-bottom: 30px;
  }
}
.facilities-card__description {
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .facilities-card__description {
    max-width: 190px;
    text-align: center;
  }
}
.booking {
  padding: 38px 18px 49px;
}
@media (min-width: 768px) {
  .booking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.booking__title {
  margin: 0;
  margin-bottom: 30px;
}
.booking__description {
  margin: 0;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .booking__description {
    max-width: 435px;
  }
}
.booking__button {
  padding: 16px 16px;
}
@media (min-width: 768px) {
  .booking__button {
    min-width: 456px;
  }
}
.map__image {
  width: 100%;
}
.social__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  list-style: none;
}
.social__item {
  background-color: #81b3d2;
  width: 48px;
  height: 48px;
  padding: 17px 12px;
}
.main-footer {
  display: flex;
  flex-direction: column;
  padding: 33px 82px;
  gap: 30px;
  align-items: center;
}
@media (min-width: 768px) {
  .main-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
.copyright {
  display: flex;
  align-items: center;
  gap: 7px;
}
.sedona-banner {
  background-image: url("../img/sedona-banner.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #5ea18b;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 90px;
  padding-bottom: 60px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .sedona-banner {
    background-image: url("../img/sedona-banner@2x.jpg");
  }
}
@media (min-width: 768px) {
  .sedona-banner {
    background-image: url("../img/sedona-banner-tablet.jpg");
    background-size: cover;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .sedona-banner {
    background-image: url("../img/sedona-banner-tablet@2x.jpg");
  }
}
.photos__title {
  margin: 35px 20px;
}
.photos__description {
  margin: 0 20px 25px 20px;
}
.photos-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.photos-list__text-block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .photos-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .photos-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.photo-item__wrapper {
  padding-top: 15px;
}
@media (min-width: 768px) {
  .photo-item__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 0;
    background-color: #f2f2f2;
  }
}
@media (min-width: 768px) {
  .photos-list__item:first-child {
    grid-column: 1 / 3;
  }
}
@media (min-width: 1200px) {
  .photos-list__item:first-child {
    grid-column: 1 / 4;
  }
}
.photo-card {
  padding: 25px 20px;
  border-top: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .photo-card {
    border-top: none;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .photo-card {
    padding: 0;
  }
}
.photo-card__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.photo-card__title {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 15px;
}
.photo-card__author {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 11px;
}
.photo-card__image {
  display: block;
  width: 100%;
}
@media (min-width: 768px) {
  .photo-card__main {
    height: 400px;
  }
}
.like-rating {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  align-items: center;
}
.video {
  padding: 17px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .video {
    padding: 50px 60px 40px;
    border-top: none;
  }
}
.video__title {
  margin: 0;
  margin-bottom: 38px;
}
.video__description {
  margin: 0;
  margin-bottom: 38px;
  max-width: 266px;
}
@media (min-width: 768px) {
  .video__description {
    max-width: 445px;
  }
}
.video-preview__image {
  width: 100%;
  height: 100%;
  display: block;
}
.review__form {
  border-top: 1px solid #e5e5e5;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .review__form {
    padding: 0 60px 50px;
    border-top: none;
  }
}
@media (min-width: 1200px) {
  .review__form {
    padding: 0 120px 50px;
  }
}
.review__title {
  margin: 0;
  margin-top: 35px;
}
@media (min-width: 1200px) {
  .review__title {
    margin-top: 115px;
  }
}
.review__description {
  margin: 24px 20px 28px;
}
@media (min-width: 768px) {
  .review__description {
    max-width: 436px;
    margin: 24px auto 100px;
  }
}
.review__form--wrapper {
  position: relative;
}
@media (min-width: 768px) {
  .review__form--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 58px;
  }
  .review__form--wrapper::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 338px;
    background-color: #dbdbdb;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
@media (min-width: 1200px) {
  .review__form--wrapper {
    gap: 100px;
  }
}
.review-form {
  display: flex;
  flex-direction: column;
}
.review-form__block {
  margin: 0;
  margin-top: 24px;
}
.review-form__list-item {
  display: flex;
}
.review-form__list-item--flex {
  flex-direction: column;
}
.review-form__title {
  margin: 0;
  margin-bottom: 20px;
}
.review-form__button {
  margin-bottom: 3px;
}
.review-form__tooltip {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .review-form__tooltip {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .form-border-top {
    position: relative;
  }
  .form-border-top .review-form__title {
    width: 400px;
    background-color: #ffffff;
    position: relative;
    z-index: 100;
  }
  .form-border-top::before {
    content: "";
    position: absolute;
    background-color: #dbdbdb;
    height: 1px;
    width: 648px;
    top: -35%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .emotion-block {
    position: relative;
  }
  .emotion-block .review-form__title {
    width: 400px;
    background-color: #ffffff;
    position: relative;
    z-index: 100;
  }
  .emotion-block::before {
    content: "";
    position: absolute;
    background-color: #dbdbdb;
    height: 1px;
    width: 648px;
    top: -18%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .form-border-top::before {
    width: 960px;
    top: -18%;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .emotion-block::before {
    width: 960px;
    top: -15%;
  }
}
.input-text {
  padding: 16px;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  width: 100%;
}
@media (min-width: 768px) {
  .input-text {
    height: 58px;
  }
}
.input-text--phone {
  width: 222px;
  height: 58px;
}
@media (min-width: 768px) {
  .input-text--phone {
    width: 237px;
  }
}
@media (min-width: 1200px) {
  .input-text--phone {
    width: 372px;
  }
}
.input-text--email {
  width: 222px;
  height: 58px;
}
@media (min-width: 768px) {
  .input-text--email {
    width: 237px;
  }
}
@media (min-width: 1200px) {
  .input-text--email {
    width: 372px;
  }
}
.input-text--emotions {
  min-height: 150px;
}
@media (min-width: 1200px) {
  .input-text--emotions {
    margin-top: 8px;
  }
}
.label-phone,
.lable-email {
  position: relative;
}
.input-phone-icon {
  position: absolute;
  width: 58px;
  height: 58px;
  margin-top: 21px;
  right: 0;
  background-color: #e6e6e6;
  background-image: url("../img/icons/input-phone.svg");
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .input-phone-icon {
    right: 15px;
  }
}
@media (min-width: 1200px) {
  .input-phone-icon {
    right: 0;
  }
}
.input-email-icon {
  position: absolute;
  width: 58px;
  height: 58px;
  margin-top: 21px;
  right: 0;
  background-color: #e6e6e6;
  background-image: url("../img/icons/input-email.svg");
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .input-email-icon {
    right: 15px;
  }
}
@media (min-width: 1200px) {
  .input-email-icon {
    right: 0;
  }
}
.form-fieldset {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 0;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .form-fieldset {
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .form-fieldset {
    padding-bottom: 56px;
  }
}
.review-form-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.radio-list--item {
  width: 280px;
}
.checkbox-list--item {
  width: 224px;
}
@media (min-width: 1200px) {
  .checkbox-list--item {
    width: 188px;
  }
}
@media (min-width: 768px) {
  .radio-list,
  .checkbox-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 36px;
  }
  .checkbox-list {
    padding: 0 84px;
  }
  .review-form__submit-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .radio-list,
  .checkbox-list {
    padding: 31px 50px;
    justify-content: space-between;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .review-form__submit-button {
    width: 768px;
    margin: 0 auto;
  }
}
.emotions-block {
  margin-bottom: 56px;
}
@media (min-width: 1200px) {
  .emotions-block {
    width: 768px;
    margin: 0 auto 56px;
  }
}
.custom-radio {
  position: relative;
  display: inline-block;
  background: #f2f2f2;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  margin-right: 16px;
  vertical-align: middle;
}
.input-radio {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -100;
}
.custom-radio::before {
  display: none;
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.input-radio:checked + .custom-radio::before {
  display: inline-block;
}
.custom-checkbox {
  position: relative;
  display: inline-block;
  background: #f2f2f2;
  border-radius: 4px;
  width: 46px;
  height: 46px;
  margin-right: 16px;
  vertical-align: middle;
}
.input-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -10;
}
.custom-checkbox::before {
  position: absolute;
  content: "";
  display: none;
  width: 22px;
  height: 16px;
  background-image: url("../img/icons/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.input-checkbox:checked + .custom-checkbox::before {
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */
